/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100vh; 
  overflow-x: hidden;
}

/* Add background color to each page */

.container {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.678); /* Slightly darker shade of white */
  padding: 20px;
}

/* Additional styles for your container or other elements */
